# Debug/Release files
output.txt
Debug/
Megaboggle/Debug/
Megaboggle/Release/
Megaboggle/x64/Debug

# Visual Studio
.vs/
*.log
*.tlog
*.lastbuildstate
*.pdb
*.vcxproj*
*.vsp
*.psess
*.gitattributes
*.sdf
*.opensdf
*.sln
*.suo
*.TMP

# Random files
Megaboggle.VC.VC.opendb
Megaboggle.VC.db

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
